[credential]
	credentialStore = secretservice
	helper = {{HOME}}/.dotnet/tools/git-credential-manager

[credential "https://dev.azure.com"]
	useHttpPath = true

[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg = lg1

[core]
	editor = vim
[rerere]
	enabled = true
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	trustExitCode = false
[mergetool]
	writeToTemp = true
	keepBackup = false

[user]
	name = {{GIT_NAME}}
	email = {{GIT_EMAIL}}

